---
import { getCollection } from 'astro:content';
import Accordion from '../component/Accordion.astro';

import { Image } from 'astro:assets';

import desktopBGImage from '../images/bg-pattern-desktop.svg';
import mobileBGImage from '../images/bg-pattern-mobile.svg';

const items = await getCollection('faqs');

import '../styles/main.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Accordion</title>
  </head>
  <body>
    <main>
      <div class='wrapper'>
        <Accordion
          accordionItems={items.map(item => item.data)}
          title='FAQs'
          isFirstExpanded={true}
          isOnlyOneExpandable={true}
        >
          <Image
            src={desktopBGImage}
            alt='desktop background'
            class='only-desktop'
          />
          <Image
            src={mobileBGImage}
            alt='mobile background'
            class='only-mobile'
          />
        </Accordion>
      </div>
    </main>
  </body>
</html>
