---
import slugify from 'slugify';

import { Image } from 'astro:assets';
import arrowDown from '../icons/icon-arrow-down.svg';

import type { CollectionEntry } from 'astro:content';

import '../styles/accordion.css';

type Props = {
  accordionItems: CollectionEntry<'faqs'>['data'][];
  title: string;
  isFirstExpanded?: boolean;
  isOnlyOneExpandable?: boolean;
};

const { accordionItems, title, isFirstExpanded, isOnlyOneExpandable } =
  Astro.props;
---

<section
  aria-labelledby={slugify(title)}
  data-isFirstExpanded={isFirstExpanded}
  data-isOnlyOneExpandable={isOnlyOneExpandable}
  class='acc'
>
  <div class='title'>
    <h2 id={slugify(title)}>{title}</h2>
  </div>
  {
    accordionItems.map((item, index) => (
      <div class='item'>
        <button
          id={`question-${slugify(title)}-${index}`}
          aria-controls={`answer-${slugify(title)}-${index}`}
          aria-expanded='false'
          class='acc-question'
        >
          <span>{item.question}</span>
          <Image src={arrowDown} alt='arrow down' class='icon-arrow-down' />
        </button>
        <div
          aria-labelledby={`question-${slugify(title)}-${index}`}
          id={`answer-${slugify(title)}-${index}`}
          class='acc-answer'
        >
          {item.answer}
        </div>
      </div>
    ))
  }
</section>

<script src='../scripts/accordion.ts'></script>
